.LoadBox{background:rgba(0,0,0,0.6);width:200px;height:200px;line-height:200px;text-align:center;border-radius:20px;color:#fff;
    position:absolute;left:50%;top:50%;margin-left:-100px;margin-top:-100px;
}